---
eleventyExcludeFromCollections: true
layout: base.njk
permalink: /404.html
title: Ooooops
---
<div class="content page pt-4 text-2xl">
    Sorry, this page doesn't exist. <span class="text-6xl">😰</span><br /><br />
</div>
