---
layout: default
title: Home
---
<!-- Blog entries -->
<div class="w3-col l8 s12">
  {% for post in paginator.posts %}
    {% post-loop.html post=post %} <!-- Includes post-loop.html: standardized post layout -->
  {% endfor %}

<!-- BEGIN Next / Previous Buttons -->
    <div class="w3-col w3-margin">
    {% if paginator.total_pages > 1 %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}"><button class="w3-button w3-black w3-padding w3-margin-bottom">&laquo; Older Posts</button></a>
      {% else %}
        <button class="w3-button w3-black w3-disabled w3-padding w3-margin-bottom">&laquo; Older Posts</button>
      {% endif %}
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}"><button class="w3-button w3-black w3-padding w3-margin-bottom">Newer Posts &raquo;</button></a>
      {% else %}
        <button class="w3-button w3-black w3-disabled w3-padding w3-margin-bottom">Newer Posts &raquo;</button>
      {% endif %}
    {% endif %}
</div> <!-- END Next / Previous Buttons -->
</div> <!-- END Blog entries -->
