<meta charset="utf-8">
<title>{% if title %}{{ title }} | {% endif %}{{ siteconfig.title }}</title>
<script>
// Toggle dark/light mode, inline JS to avoid any theme flicker
function toggleDarkLightMode (isInit) {
    // First time visitors
    if (!("theme" in localStorage)) {
        if (window.matchMedia("(prefers-color-scheme: light)").matches) {
            document.querySelector("html").classList.remove("dark");
            document.querySelector("html").classList.add("light");
            localStorage.theme = "light";
        } else {
            localStorage.theme = "dark";
        }
    } else {
        if (!isInit) {
            if (localStorage.theme === "light") {
                document.querySelector("html").classList.add("dark");
                document.querySelector("html").classList.remove("light");
                localStorage.theme = "dark";
            } else if (localStorage.theme === "dark") {
                document.querySelector("html").classList.add("light");
                document.querySelector("html").classList.remove("dark");
                localStorage.theme = "light";
            }
        } else {
            if (localStorage.theme === "light") {
                document.querySelector("html").classList.remove("dark");
                document.querySelector("html").classList.add("light");
            } else if (localStorage.theme === "dark") {
                document.querySelector("html").classList.remove("light");
                document.querySelector("html").classList.add("dark");
            }
        }
    }
};
toggleDarkLightMode(true);
</script>

<link rel="apple-touch-icon" sizes="57x57" href="{{ '/assets/favicons/apple-icon-57x57.png' | addHash }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ '/assets/favicons/apple-icon-60x60.png' | addHash }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/favicons/apple-icon-72x72.png' | addHash }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/favicons/apple-icon-76x76.png' | addHash }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/favicons/apple-icon-114x114.png' | addHash }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/favicons/apple-icon-120x120.png' | addHash }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/favicons/apple-icon-144x144.png' | addHash }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/favicons/apple-icon-152x152.png' | addHash }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicons/apple-icon-180x180.png' | addHash }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ '/assets/favicons/android-icon-192x192.png' | addHash }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicons/favicon-32x32.png' | addHash }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/favicons/favicon-96x96.png' | addHash }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicons/favicon-16x16.png' | addHash }}">
<link rel="manifest" href="{{ '/assets/favicons/manifest.json' | addHash }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ '/assets/favicons/ms-icon-144x144.png' | addHash }}">
<meta name="theme-color" content="#ffffff">

<link rel="canonical" href="{{ page.url | absoluteUrl }}" />
{% for name, item in meta %}
<meta name="{{ name }}" content="{{ item.value }}">
{% endfor %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% set description = description | truncate(55) %}
<meta name="description" content="{% if description %}{{ description }}{% else %}{{ siteconfig.description }}{% endif %}">
<meta property="og:url" content="{{ page.url | absoluteUrl }}">
<meta property="og:locale" content="{{ lang }}" />
<meta property="og:site_name" content="{{ siteconfig.title }}" />
<meta property="og:type" content="website">
<meta property="og:title" content="{% if title %}{{ title }} | {% endif %}{{ siteconfig.title }}">
<meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ siteconfig.description }}{% endif %}">
<meta property="og:image" content="{% if image %}{{ image | addHash  | absoluteUrl }}{% else %}{{ siteconfig.openGraphDefaultImage | addHash | absoluteUrl }}{% endif %}">
<meta property="og:image:url" content="{% if image %}{{ image | addHash  | absoluteUrl }}{% else %}{{ siteconfig.openGraphDefaultImage | addHash | absoluteUrl }}{% endif %}">
<meta name="twitter:image" content="{% if image %}{{ image | addHash | absoluteUrl }}{% else %}{{ siteconfig.openGraphDefaultImage | addHash | absoluteUrl }} {% endif %}">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@{{ siteconfig.socialTwitter }}">
<meta name="twitter:creator" content="@{{ siteconfig.socialTwitter }}" />
<meta name="twitter:description" content="{% if description %}{{ description | truncate(200) }}{% else %}{{ siteconfig.description | truncate(200) }}{% endif %}" />
<script src="{{ '/assets/js/min.js' | addHash }}" type="module"></script>
<link rel="stylesheet" href="{{ '/assets/css/site-build.css' | addHash }}">
<link rel="stylesheet" href="{{ '/assets/css/prism-build.css' | addHash }}">

<!-- Mat0mo Stats -->
<script type="text/javascript">
  var _paq = window._paq || [];
  _paq.push(['disableCookies']);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//nc.diecknet.de/mt/";
    _paq.push(['setTrackerUrl', u+'mdata']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'m.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Mat0mo Stats Code -->