{# based on https://github.com/adamduncan/eleventy-plugin-i18n-demo/blob/3ba4878fdff94cebb2948494bf4fb5169ebe0018/src/_includes/components/language-selector.njk #}
{% set pageUrl = page.url.split('/').slice(2).join('/') %}
{% if locales.length %}
    <img src="/assets/images/Globe_icon.svg" style="filter:invert(100%); height:15px; width:auto; display:inline;" alt="🌐" />&nbsp;{% for locale in locales %}<a {% if locale.code == lang %}style="font-weight: bold;"{% endif %} href="/{{ locale.code }}/{{ pageUrl }}" rel="alternate" hreflang="{{ locale.code }}">{{ locale.label }}</a>{% if locale != locales | last %} &vert; {% endif %}{% endfor %}
{% endif %}