<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% I18n_Headers %}
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline | strip_html }}
    {% else %}
      {{ page.title }} &middot; {{ site.title | strip_html }}
    {% endif %}
  </title>

  <!-- CSS -->
  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}" />
    {% endfor %}
  {% endif %}

  <!-- Icons -->
<!-- Maybe a todo for later <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico"> -->

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
</head>
