<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% I18n_Headers %}

  <!-- more SEO -->
    {% capture title %}{% if page.meta_title %}{{ page.meta_title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title | strip_html | strip }}{{ site.slogan | strip_html | strip | prepend: " – " }}{% endif %}{% endcapture %}
    {% assign title = title | strip_html | escape | strip_newlines %}
    
    {% capture description %}{% if page.meta_description %}{{ page.meta_description }}{% elsif page.teaser %}{{ page.teaser }}{% elsif page.excerpt %}{{ page.excerpt }}{% elsif site.description[site.active_lang] %}{{ site.description[site.active_lang] }}{% endif %}{% endcapture %}
    {% assign description = description | strip_html | escape | strip %}

    {% if page.meta-title %}
      <meta property="og:title" content="{{ page.meta-title }}" />
    {% elsif page.title %}
      <meta property="og:title" content="{{ page.title }}" />
    {% else %}
      <meta property="og:title" content="{{ site.title }}" />
    {% endif %}

    {% if page.meta-description %}
      <meta property="og:description" content="{{ page.meta-description }}">
    {% elsif page.subtitle %}
      <meta property="og:description" content="{{ page.subtitle }}">
    {% else %}
      <meta property="og:description" content="{{ description }}">
    {% endif %}

    {% if page.id %}
      <meta property="og:url" content="{{ page.url | absolute_url }}" />
      <link rel="canonical" href="{{ page.url | absolute_url }}" />
    {% else %}
      <meta property="og:url" content="{{ page.url | absolute_url | strip_index }}" />
      <link rel="canonical" href="{{ page.url | absolute_url | strip_index }}" />
    {% endif %}
  
    {% if page.image %}
      <meta property="og:image" content="{{ page.image | absolute_url }}" />
    {% else %}
      <meta property="og:image" content="{{ "/img/diecknet.svg" | absolute_url }}" />
    {% endif %}
    <meta property="og:locale" content="{{ site.active_lang }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:type" content="website" />

    <!-- More › https://dev.twitter.com/cards/overview -->
    <meta name="twitter:card" content="summary" />
    {% if site.twitter %}
      <meta name="twitter:site" content="@{{ site.twitter }}" />
      <meta name="twitter:creator" content="@{{ site.twitter }}" />
    {% endif %}
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description | truncate: 200 }}" />
    <meta name="twitter:image" content="{%if page.image %}{{ page.image | absolute_url }}{% else %}{{ "/img/diecknet.svg" | absolute_url }}{% endif %}" />

  <!-- end of SEO -->

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline | strip_html }}
    {% else %}
      {{ page.title }} &middot; {{ site.title | strip_html }}
    {% endif %}
  </title>

  <!-- CSS -->
  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}" />
    {% endfor %}
  {% endif %}
  <!-- Icons -->
    <!-- Maybe a todo for later <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico"> -->

<!-- Mat0mo Stats -->
<script type="text/javascript">
  var _paq = window._paq || [];
  _paq.push(['disableCookies']);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//nc.diecknet.de/mt/";
    _paq.push(['setTrackerUrl', u+'mdata']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'m.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://nc.diecknet.de/mt/mdata?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Mat0mo Stats Code -->
</head>
