<!-- include this to any posts viewing, e.g. index, tags, category... -->
<article>
    <!-- Blog entry -->
    <div class="w3-cardx w3-margin w3-white">
      <div class="w3-container">
        {% if include.ipost.image %}
          <div class="w3-margin-top">
            <a href="{{ include.ipost.url | relative_url }}"><h2 class="blog-headline-text w3-padding">{{ include.ipost.title }}</h2>
            </a>
            <h5>{% if include.ipost.subtitle %} {{ include.ipost.subtitle }} &vert; {% endif %}<span class="w3-opacity">{{ include.ipost.date | date: "%Y-%m-%d" }}</span></h5>
            <p><a href="{{ include.ipost.url | relative_url }}"></a><img src="{{ include.ipost.image | relative_url }}" class="w3-image" alt="{{ include.ipost.title }}{% if include.ipost.subtitle %} / {{ include.ipost.subtitle }}{% endif %}" style="max-height:350px;" /></a></p>
          </div>
        {% else %}
          <div class="w3-margin-top">
            <a href="{{ include.ipost.url | relative_url }}"><h2 class="blog-headline-text w3-padding">{{ include.ipost.title }}</h2></a>
            <h5>{% if include.ipost.subtitle %} {{ include.ipost.subtitle }} &vert; {% endif %}<span class="w3-opacity">{{ include.ipost.date | date: "%Y-%m-%d" }}</span></h5>
          </div>
        {% endif %}
        {{ include.ipost.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = include.ipost.excerpt | number_of_words %}
        {% if include.ipost.content != include.ipost.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ include.ipost.url | relative_url }}"><b>{{ site.data["text"]["readmore"] }} &raquo;</b></a>
        {% endif %}
        </div>
  
        <div class="w3-container">
          <!-- begin tags -->
          {% if include.ipost.tags.size > 0 %} <hr style="margin-bottom: 0px"> {% endif %}
          <div class="w3-right">
            {% if include.ipost.tags.size > 0 %}
              <p>
                Tags:
                {% for tag in include.ipost.tags %}
                <a href="{{ '/tags' | relative_url }}/{{- tag -}}"><span class="w3-tag w3-black w3-small">#{{- tag -}}</span></a>
                {% endfor %}
              </p>
            {% endif %}
          </div>
          <!-- END Tags! -->
      </div>
    </div>
    </article>
    <!-- end of blog entry -->