<!-- BEGIN sidebar file -->
<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-cardx w3-margin w3-margin-top">
  <!-- <img src="w3images/avatar_g.jpg" style="width:100%"> -->
    <div class="w3-container w3-white">
      <h4><b>{{ site.data["text"]["hello"] }}</b></h4>
      <p>{{ site.description[site.active_lang] }}</p>
    </div>
  </div><hr>
  <!-- Labels / tags -->
  <div class="w3-cardx w3-margin"> <!-- START TAGS -->
    <div class="w3-container w3-padding w3-white w3-margin-bottom">
      <h4><b>Tags</b></h4>
      <p>
        {% assign alldocs = site.documents | sort: 'date' | reverse %}
        {% assign grouptag =  alldocs | map: 'tags' | join: ','  | split: ','  | group_by: tag | sort: 'size' | reverse %}
        {% assign font_size_multiplicator = 26 | divided_by:grouptag[0].size %}
        {% assign grouptag =  grouptag | shuffle %}
        {%- for tag in grouptag -%}
          <a href="/tags/{{- tag.name -}}"><span class="w3-tag w3-black" style="font-size:{{ font_size_multiplicator | times: tag.size | at_most: 48 | at_least: 15 | round}}px">&nbsp;#{{- tag.name -}}&nbsp;({{tag.size}})&nbsp;</span></a> 
        {%- endfor -%}
      </p>
    </div>
  </div> <!-- END TAGS -->
<!-- END Introduction Menu -->
</div>
<!-- END sidebar file -->
