<!-- BEGIN sidebar file -->
<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-cardx w3-margin w3-margin-top">
  <!-- <img src="w3images/avatar_g.jpg" style="width:100%"> -->
    <div class="w3-container w3-white">
      <h4><b>{{ site.hello[site.active_lang]}}</b></h4>
      <p>{{ site.description[site.active_lang] }}</p>
    </div>
  </div><hr>
  <!-- Labels / tags -->
  <div class="w3-cardx w3-margin"> <!-- START TAGS -->
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p>
      {%- capture site_tags -%}
          {%- for tag in site.tags -%}
              {{- tag | first -}}{%- unless forloop.last -%},{%- endunless -%}
          {%- endfor -%}
      {%- endcapture -%}
      {%- assign tags_list = site_tags | split:',' | sort -%}
      {%- for tag in tags_list -%}
          <span class="w3-tag w3-black w3-small w3-margin-bottom">
              &nbsp;{{- tag -}}&nbsp;
          </span>&nbsp;
      {%- endfor -%}

    </p>
    </div>
  </div> <!-- END TAGS -->
<!-- END Introduction Menu -->
</div>
<!-- END sidebar file -->
