<script src="https://giscus.diecknet.de/client.js"
        data-repo="diecknet/diecknet-blog"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyMDkzNDUzNzM="
        data-category="Blog Discussions"
        data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMyNjMwOTY0"
        data-mapping="specific"
        data-term="{{ .Slug }}"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>