---
common-css:
  - "/css/w3.css"
  - "/css/font-raleway.css"
  - "/css/code-highlight.css"
  - "/css/hack-subset.css"
---
<!DOCTYPE html>
<html>
    {% include head.html %}
  <body class="w3-light-grey">
  <div style="min-height:96vh">
    <header class="w3-container w3-center w3-padding-16 w3-2019-evening-blue">
      <h1 class="w3-margin-top"><b><a href="/" style="text-decoration:none">{{site.title}}</a></b></h1>
      <p>{{site.tagline}}</p>
      <div class="w3-container w3-right w3-black w3-padding s2 l1">
        <img src="/img/Globe_icon.svg" style="filter:invert(100%); height:15px; width:auto;" alt="🌐" />&nbsp;
        {% for tongue in site.languages %}
            <a {% if tongue == site.active_lang %}style="font-weight: bold;"{% endif %} href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}">{{site.languages_fullname[tongue]}}</a>{% if tongue != site.languages.last %} &vert; {% endif %}
        {% endfor %}
      </div>
    </header>
    <div class="w3-content" style="max-width:1920px">
    <!-- Grid -->
    <div class="w3-row">
      <!-- BEGIN Layout: post -->
      <div class="w3-col s12">
        <!-- Blog entry -->
        <div class="w3-cardx w3-margin w3-white">
          <div class="w3-container">
            <h3><b><a href="{{ page.url | relative_url }}">{{ page.title }}</a></b></h3>
            <h5>{% if page.subtitle %} {{ page.subtitle }}, {% endif %}
               <span class="w3-opacity">{{ page.date | date: "%Y-%m-%d" }}</span></h5>
          </div>
          <div class="w3-container">
            {% if site.active_lang != blank and site.active_lang != page.lang %}
              <div class="w3-row">
              <div class="w3-col w3-pale-yellow w3-border w3-leftbar w3-border-yellow w3-padding s12 l10"><h4>Sorry!</h4>
                {{ site.data["text"]["translation_missing"] }}
              </div></div>
            {% endif %}
            {{ content }}
            {% if page.tags.size > 0 %} <hr style="margin-bottom: 0px"> {% endif %}
            <div class="w3-row w3-right">
              {% if page.tags.size > 0 %}
                <p>
                  Tags:
                  {% for tag in page.tags %}
                  <a href="{{ '/tags' | relative_url }}/{{- tag -}}"><span class="w3-tag w3-black w3-small">#{{- tag -}}</span></a>
                  {% endfor %}
                </p>
              {% endif %}
            </div>
          </div>
        </div> <!-- END blog entry -->
      </div>
      <!-- END Layout: post -->
      
    </div> <!-- end grid/row -->
    </div> <!-- end w3-content -->
  </div>
    <footer class="w3-container w3-2019-evening-blue w3-padding-8 w3-margin-top" style="width:100%; height:3vh;">
    <p>
      &copy; {{ site.author.name }}
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      {% if page.date %}{{ page.date | date: '%Y' }}{% else %}{{ site.time | date: '%Y' }}
      {% endif %}
    </p>
    </footer>
  </body>
</html>
