---
layout: default
---
<!-- BEGIN Layout: post -->
  <!-- Blog entry -->
  <div class="w3-cardx w3-margin w3-white">
    <div class="w3-container">
      <h3><b><a href="{{ page.url | relative_url }}">{{ page.title }}</a></b></h3>
      <h5>{% if page.subtitle %} {{ page.subtitle }}, {% endif %}
         <span class="w3-opacity">{{ page.date | date: "%Y-%m-%d" }}</span></h5>
    </div>
    <div class="w3-container">
      {% if site.active_lang != blank and site.active_lang != page.lang %}
        <div class="w3-row">
        <div class="w3-col w3-pale-yellow w3-border w3-leftbar w3-border-yellow w3-padding s12 l10"><h4>Sorry!</h4>
          {{ site.data["text"]["translation_missing"] }}
        </div></div>
      {% endif %}
      {{ content }}
      {% if page.tags.size > 0 %} <hr style="margin-bottom: 0px"> {% endif %}
      <div class="w3-row w3-right">
        {% if page.tags.size > 0 %}
          <p>
            Tags:
            {% for tag in page.tags %}
            <a href="{{ '/tags' | relative_url }}/{{- tag -}}"><span class="w3-tag w3-black w3-small">#{{- tag -}}</span></a>
            {% endfor %}
          </p>
        {% endif %}
      </div>
      <div class="w3-container"> <!-- comment container -->

        <section class="page__reactions">
          {% if site.data.comments[page.slug] %}
            <!-- Start static comments -->
            <div id="comments" class="js-comments">
              <h2 class="page__section-label">
                {{ site.data.comments[page.slug] | size }} Comments
              </h2>
              {% assign comments = site.data.comments[page.slug] | sort | where_exp: 'comment', 'comment[1].replying_to == blank' %}
              {% for comment in comments %}
              <h1>TEST; KOMMENTAR GEFUNDEN</h1>
              <h2> {{ comment[1].name }} </h2>
                {% assign index       = forloop.index %}
                {% assign replying_to = comment[1].replying_to | to_integer %}
                {% assign email       = comment[1].email %}
                {% assign name        = comment[1].name %}
                {% assign url         = comment[1].url %}
                {% assign date        = comment[1].date %}
                {% assign message     = comment[1].message %}
                {% include comment.html index=index replying_to=replying_to email=email name=name url=url date=date message=message %}
              {% endfor %}
            </div>
            <!-- End static comments -->
          {% endif %}

          {% unless page.comments_locked == true %}
            <!-- Start new comment form -->
            <div id="respond">
              <h2 class="page__section-label">Leave a Comment <small><a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display:none;">Cancel reply</a></small></h2>
              <form id="comment-form" class="page__form js-form form" method="post" action="https://diecknet-staticman.herokuapp.com/v2/entry/diecknet/diecknet-blog/main/comments/">
                <fieldset>
                  <label for="comment-form-message"><strong>Comment</strong> <small>(<a href="https://kramdown.gettalong.org/quickref.html">Markdown</a> is allowed)</small></label>
                  <textarea type="text" rows="6" id="comment-form-message" name="fields[message]" required spellcheck="true"></textarea>
                </fieldset>
                <fieldset>
                  <label for="comment-form-name"><strong>Name</strong></label>
                  <input type="text" id="comment-form-name" name="fields[name]" required spellcheck="false">
                </fieldset>
                <fieldset>
                  <label for="comment-form-email"><strong>Email</strong></label>
                  <input type="email" id="comment-form-email" name="fields[email]" required spellcheck="false">
                </fieldset>
                <fieldset>
                  <label for="comment-form-url"><strong>Website</strong> <small>(optional)</small></label>
                  <input type="url" id="comment-form-url" name="fields[url]"/>
                </fieldset>
                <fieldset class="hidden" style="display: none;">
                  <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
                  <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
                  <input type="hidden" id="comment-replying-to" name="fields[replying_to]" value="">
                  <input type="hidden" id="comment-post-id" name="options[slug]" value="{{ page.slug }}">
                  <label for="comment-form-location">Leave blank if you are a human</label>
                  <input type="text" id="comment-form-location" name="fields[hidden]" autocomplete="off">
                </fieldset>
                <!-- Start comment form alert messaging -->
                <p class="hidden js-notice">
                  <span class="js-notice-text"></span>
                </p>
                <!-- End comment form alert messaging -->
                <fieldset>
                  <button type="submit" id="comment-form-submit" class="btn btn--large">Submit Comment</button>
                </fieldset>
              </form>
            </div>
            <!-- End new comment form -->
          {% else %}
            <p><em>Comments are closed.</em></p>
          {% endunless %}
        </section>
        
      </div> <!-- end of comment container -->
    </div>
  </div> <!-- END blog entry -->
<!-- END Layout: post -->
