---
layout: default
---
<!-- BEGIN Layout: post -->
  <!-- Blog entry -->
  <div class="w3-cardx w3-margin w3-white">
    <div class="w3-container">
      <h3><b><a href="{{ page.url | relative_url }}">{{ page.title }}</a></b></h3>
      <h5>{% if page.subtitle %} {{ page.subtitle }}, {% endif %}
         <span class="w3-opacity">{{ page.date | date: "%Y-%m-%d" }}</span></h5>
    </div>
    <div class="w3-container">
      {% if site.active_lang != blank and site.active_lang != page.lang %}
        <div class="w3-row">
        <div class="w3-col w3-pale-yellow w3-border w3-leftbar w3-border-yellow w3-padding s12 l10"><h4>Sorry!</h4>
          {{ site.data["text"]["translation_missing"] }}
        </div></div>
      {% endif %}
      {{ content }}
      {% if page.tags.size > 0 %} <hr style="margin-bottom: 0px"> {% endif %}
      <div class="w3-row w3-right">
        {% if page.tags.size > 0 %}
          <p>
            Tags:
            {% for tag in page.tags %}
            <a href="{{ '/tags' | relative_url }}/{{- tag -}}"><span class="w3-tag w3-black w3-small">#{{- tag -}}</span></a>
            {% endfor %}
          </p>
        {% endif %}
      </div>
      <div class="w3-container"> <!-- comment container -->
        {% assign comments = site.data.comments[page.slug] | sort | where_exp: "comment", "comment[1].replying_to == blank" %}
        {% for comment in comments %}
          {% assign avatar      = comment[1].avatar %}
          {% assign email       = comment[1].email %}
          {% assign name        = comment[1].name %}
          {% assign url         = comment[1].url %}
          {% assign date        = comment[1].date %}
          {% assign message     = comment[1].message %}
          {% include comment.html avatar=avatar email=email name=name url=url date=date message=message %}
        {% endfor %}
      </div> <!-- end of comment container -->
    </div>
  </div> <!-- END blog entry -->
<!-- END Layout: post -->
