---
layout: default
---
{% assign numberof = page.posts | size %}
<!-- BEGIN Tag Page  -->
<div class="w3-col l8 s12">
  <!-- Page entry -->
  <div class="w3-cardx w3-margin w3-white">
    <div class="w3-container">
      <h1>{{ numberof }} {% if numberof == 1 %}{{ site.data["text"]["tagcountsingular"] }}{% else %}{{ site.data["text"]["tagcountplural"] }}{% endif %} <span class="w3-tag w3-black">#{{ page.title }}</span></h1>
    </div>

    <div class="w3-container">
      {% for post in page.posts %}
        {% include post-loop.html ipost=post %} <!-- Includes post-loop.html: standardized post layout -->
      {% endfor %}

    </div>
  </div> <!-- END Page Entry -->
</div> <!-- END Tag Page  -->
