---
layout: default
---

  {% assign numberof = page.posts | size %}
  <h1>{{ numberof }} {% if numberof == 1 %}{{ site.data["sample"][0] }}{% else %}{{ site.data["sample"][1] }}{% endif %} #{{ page.title }}</h1>
  <h3>test: {{ site.data["sample"]["test"] }}</h3>
  <div class="w3-col l8 s12">
    {% for post in page.posts %}
    <article>
    <!-- Blog entry -->
    <div class="w3-cardx w3-margin w3-white">
      {% if post.image %}
      <a href="{{ post.url | relative_url }}">
        <img src="{{ post.image | relative_url }}" class="blog-crop-image" alt="{{ post.title }} / {{ post.subtitle }}" />
      </a>
      {% endif %}
      <div class="w3-container">
        <h3><b><a href="{{ post.url | relative_url }}">{{ post.title }}</a></b></h3>
        <h5>{% if post.subtitle %} {{ post.subtitle }}, {% endif %}<span class="w3-opacity">{{ post.date | date: "%Y-%m-%d" }}</span></h5>
      </div>
      <div class="w3-container">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        <div class="w3-row">
          {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
            <div class="w3-col m8 s12">
              <p><a href="{{ post.url | relative_url }}" class="post-read-more"><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE &raquo;</b></button></a></p>
            </div>
          {% endif %}
          {% if page.tags.size > 0 %}
          <!-- BEGIN Tags! -->
          <div class="w3-col m4 w3-hide-small">
          <p>
      <span class="w3-padding-large w3-right"><b>Tags:</b>
      {% if site.link-tags %}
      {% for tag in page.tags %}
        <span class="w3-tag"><a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a></span>
      {% endfor %}
      {% else %}
        {{ page.tags | join: ", " }}
      {% endif %}
    </p>
    </div>
    <!-- END Tags! -->
    {% endif %}

        </div>
      </div>
    </div>
    </article>
      {% endfor %}

  </div> <!-- END Blog entries -->
